@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    font-family: "Inter", sans-serif;
    letter-spacing: 0.2px;
    overflow-x: hidden;
    
  }

  
 
}

.grid-item {
  width: 466px;
  max-height: 700px;
}

.active {
  background-color: #000;
  color: white;
  border-radius: 50px;
  padding: 1rem 2rem;
}