@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    font-family: "Inter", sans-serif;
    letter-spacing: 0.2px;
    
  }

  main {
    
  }
}

@layer components {
  .hero-background {
    background-image: url('https://images.pexels.com/photos/20219004/pexels-photo-20219004.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200');
  }
}
